$nav-size: 6rem;
$sidebar-width: 40rem;

$increment: 30%;

$blue: hsl(214, 94%, 56%);
$blue-lighter: tint($blue, $increment);
$blue-darker: shade($blue, $increment);

$cyan: hsl(182, 96%, 40.8%);
$cyan-lighter: tint($cyan, $increment);
$cyan-darker: shade($cyan, $increment);

$green: hsl(148, 94%, 34%);
$green-lighter: tint($green, $increment);
$green-darker: shade($green, $increment);

$pink: hsl(320, 79%, 46%);
$pink-lighter: tint($pink, $increment);
$pink-darker: shade($pink, $increment);

$red: hsl(364, 100%, 56%);
$red-lighter: tint($red, $increment);
$red-darker: shade($red, $increment);

$primary: $blue;
$primary-lighter: tint($primary, $increment);
$primary-darker: shade($primary, $increment);

$secondary: $cyan;
$secondary-lighter: tint($secondary, $increment);
$secondary-darker: shade($secondary, $increment);

$dark: #051325; //shade($primary, 85%);
$dark-lighter: tint($dark, 10%);
$dark-darker: shade($dark, 30%);

$light: #F4F8FE; //tint($primary, 95%);
$light-lighter: tint($light, 50%);
$light-darker: shade($light, 10%);

$middle: tint($dark, 50%);

// $blue-darker
// $blue
// $blue-lighter

// $cyan-darker
// $cyan
// $cyan-lighter

// $green-darker
// $green
// $green-lighter

// $pink-darker
// $pink
// $pink-lighter

// $red-darker
// $red
// $red-lighter

// $dark-lighter
// $dark
// $dark-darker
// $middle
// $light-lighter
// $light
// $light-darker
