<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfilePage",
  "@id": "https://mtthw.xyz/contact/#profile",
  "url": "https://mtthw.xyz/contact/",
  "mainEntity": {
    "@type": "Person",
    "@id": "https://mtthw.xyz/#person",
    "name": "Matthew Nicholson",
    "image": "https://mtthw.xyz/images/Matthew_Nicholson.jpg",
    "url": "https://mtthw.xyz/",
    "sameAs": [
      "https://github.com/mtthw",
      "https://bsky.app/profile/mtthw.xyz",
      "https://www.linkedin.com/in/matthew-nicholson-aa204b14b"
    ]
  }
}
</script>
