<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://mtthw.xyz/#website",
      "url": "https://mtthw.xyz/",
      "name": "Matthew Nicholson",
      "alternateName": "mtthw.xyz",
      "about": { "@id": "https://mtthw.xyz/#person" }
    },
    {
      "@type": "Person",
      "@id": "https://mtthw.xyz/#person",
      "name": "Matthew Nicholson",
      "url": "https://mtthw.xyz/",
      "sameAs": [
        "https://github.com/mtthw",
        "https://bsky.app/profile/mtthw.xyz",
        "https://www.linkedin.com/in/matthew-nicholson-aa204b14b"
      ]
    }
  ]
}
</script>
