<div class="sidebar sidebar--left">
  <input type="checkbox" id="sidebar__checkbox" name="sidebar__checkbox" class="sidebar__checkbox"/>
  <div class="sidebar__wrapper">
    <label class="sidebar__focus" for="sidebar__checkbox"></label>
    <div class="sidebar__panel">
      <label class="sidebar__toggle" for="sidebar__checkbox">
        <div class="sidebar__icon"></div>
      </label>
      <div class="sidebar__content">
        {{ $logoID := "logo__sidebar" }}
        {{ partial "logo/logo.html" (dict "content" . "id" $logoID) }}
        <nav class="sidebar__nav" aria-label="Sidebar">
          {{ with .Site.GetPage "/styleguide" }}
            <a href="{{ .RelPermalink }}"{{ if eq .RelPermalink $.RelPermalink }} aria-current="page"{{ end }}>{{ .Title }}</a>
          {{ end }}
          {{ with .Site.GetPage "/privacy" }}
            <a href="{{ .RelPermalink }}"{{ if eq .RelPermalink $.RelPermalink }} aria-current="page"{{ end }}>{{ .Title }}</a>
          {{ end }}
        </nav>
        {{ with partial "page/toc.html" . }}
          <div class="toc">
          {{ . }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
