<div class="sidebar sidebar--left">
  <input type="checkbox" id="sidebar__checkbox" name="sidebar__checkbox" class="sidebar__checkbox" aria-label="Site menu" aria-controls="sidebar__content"/>
  <div class="sidebar__wrapper">
    <label class="sidebar__focus" for="sidebar__checkbox"></label>
    <div class="sidebar__panel">
      <label class="sidebar__toggle" for="sidebar__checkbox">
        <div class="sidebar__icon"></div>
      </label>
      <div class="sidebar__content" id="sidebar__content">
        {{ $logoID := "logo__sidebar" }}
        {{ partial "logo/logo.html" (dict "content" . "id" $logoID) }}
        {{ with partial "page/toc.html" . }}
          <div class="toc">
          {{ . }}
          </div>
        {{ end }}
        {{ $styleguide := .Site.GetPage "/styleguide" }}
        {{ $contact := .Site.GetPage "/contact" }}
        {{ $privacy := .Site.GetPage "/privacy" }}
        {{ $categories := .Site.GetPage "/categories" }}
        {{ $tags := .Site.GetPage "/tags" }}
        <nav class="sidebar__nav construction-frame" aria-label="Site information">
          <div class="sidebar__nav-links">
            {{ with $categories }}
              <a href="{{ .RelPermalink }}"{{ if eq .RelPermalink $.RelPermalink }} aria-current="page"{{ end }}>{{ .Title }}</a>
            {{ end }}
            {{ with $tags }}
              <a href="{{ .RelPermalink }}"{{ if eq .RelPermalink $.RelPermalink }} aria-current="page"{{ end }}>{{ .Title }}</a>
            {{ end }}
            {{ with $styleguide }}
              <a href="{{ .RelPermalink }}"{{ if eq .RelPermalink $.RelPermalink }} aria-current="page"{{ end }}>{{ .Title }}</a>
            {{ end }}
            {{ with $contact }}
              <a href="{{ .RelPermalink }}"{{ if eq .RelPermalink $.RelPermalink }} aria-current="page"{{ end }}>{{ .Title }}</a>
            {{ end }}
          </div>
          <div class="sidebar__nav-bottom">
            {{ with $privacy }}
              <a href="{{ .RelPermalink }}"{{ if eq .RelPermalink $.RelPermalink }} aria-current="page"{{ end }}>{{ .Title }}</a>
            {{ end }}
            {{ partial "theme/toggle.html" . }}
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
