html,
body,
.body {
  margin: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

html,
body {
  font-size: 10px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5,
h6 {
  font-size: 2rem;
}

h3,
h4,
h5,
h6 {
  line-height: 4rem;
  font-weight: 700;
}

h1,
h2 {
  line-height: 8rem;
  font-weight: normal;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0 0 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  code, kbd, samp {
    line-height: 0;
  }
}


body {
  font-family: "Inter UI", sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 4rem;
  font-weight: normal;
  font-style: normal;
}
body:after {
  top: 3rem;
}

.body {
  color: $dark;
  background: $light-lighter;
}

.theme__checkbox {
  display: none;
}

.theme__checkbox:checked + .body {
  color: $light;
  background: $dark-darker;
  code {
    background: $dark;
    box-shadow: 0 0 0 1px $dark-lighter inset;
  }
  blockquote {
    border-color: $primary;
  }
  a {
    color: $secondary;
    border-color: $secondary;
    &:hover {
      color: $secondary-lighter;
      border-color: $secondary-lighter;
    }
  }
  .header .nav .nav__link:hover {
    color: $secondary-lighter;
    border-color: $secondary-lighter;
  }
  .sidebar .sidebar__panel {
    background: $dark;
    color: $light-lighter;
  }
  .sidebar .sidebar__icon {
    background: $secondary;
  }
  .sidebar .sidebar__toggle:hover {
    background: rgba($secondary, .1);
  }
}



ol,
ul {
  padding-left: 0;
  margin: 0 0 4rem 0;
  p {
    margin: 0;
  }
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0 0 0 4rem ;
}

a {
  color: $blue;
  border-bottom: 2px solid $blue;
  text-decoration: none;
  &:hover {
    color: $blue-lighter;
    border-color: $blue-lighter;
  }
}


code, kbd, samp {
  font-family: Droid Sans Mono, monospace;
  font-family: Cousine, monospace;
}

code {
  padding: 0 .5rem;
  white-space: nowrap;
  background: $light;
  border-radius: 4px;
  font-size: inherit;
  box-shadow: 0 0 0 1px $light-darker inset;
}

pre > code {
  display: block;
  padding: 0 2rem;
  white-space: pre;
}

blockquote {
  font-style: italic;
  margin: 0 0 0 -2rem;
  border-left: 0.3rem solid $secondary;
  padding-left: 1.7rem;
}
.content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
