<nav class="nav">
{{ $home :=  .Site.GetPage "home" }}
{{ $context :=  . }}

{{ partial "nav/navItem" ( dict "page" $home "context" $context ) }}
{{ with .Site.GetPage "/adapt" }}
  {{ partial "nav/navItem" (dict "page" . "context" $context) }}
{{ end }}
{{ with .Site.GetPage "/publications" }}
  {{ partial "nav/navItem" (dict "page" . "context" $context) }}
{{ end }}
{{ range $section := .Site.Sections }}
  {{ partial "nav/navItem" ( dict "page" $section "context" $context ) }}
{{ end }}
{{ partial "theme/toggle.html" . }}
</nav>
