@use "sass:color";
@use "functions" as f;
$nav-size: 6rem;
$sidebar-width: 40rem;

$increment: 30%;

$blue: hsl(214, 94%, 56%);
$blue-lighter: f.tint($blue, $increment);
$blue-darker: f.shade($blue, $increment);

$cyan: hsl(182, 96%, 40.8%);
$cyan-lighter: f.tint($cyan, $increment);
$cyan-darker: f.shade($cyan, $increment);

$green: hsl(148, 94%, 34%);
$green-lighter: f.tint($green, $increment);
$green-darker: f.shade($green, $increment);

$pink: hsl(320, 79%, 46%);
$pink-lighter: f.tint($pink, $increment);
$pink-darker: f.shade($pink, $increment);

$red: hsl(364, 100%, 56%);
$red-lighter: f.tint($red, $increment);
$red-darker: f.shade($red, $increment);

$primary: $blue;
$primary-lighter: f.tint($primary, $increment);
$primary-darker: f.shade($primary, $increment);

$secondary: $cyan;
$secondary-lighter: f.tint($secondary, $increment);
$secondary-darker: f.shade($secondary, $increment);

$dark: #051325; //f.shade($primary, 85%);
$dark-lighter: f.tint($dark, 10%);
$dark-darker: f.shade($dark, 30%);

$light: #F4F8FE; //f.tint($primary, 95%);
$light-lighter: f.tint($light, 50%);
$light-darker: f.shade($light, 10%);

$middle: color.mix($dark, $light, 50%);

// $blue-darker
// $blue
// $blue-lighter

// $cyan-darker
// $cyan
// $cyan-lighter

// $green-darker
// $green
// $green-lighter

// $pink-darker
// $pink
// $pink-lighter

// $red-darker
// $red
// $red-lighter

// $dark-lighter
// $dark
// $dark-darker
// $middle
// $light-lighter
// $light
// $light-darker
