@mixin line {
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: inherit;
  transition: background-color 0.5s;
}

@mixin background-opacity($color, $opacity: 0.5) {
  background: $color;
  background: rgba($color, $opacity);
}

$sidebar-toggle-size: 60px;
$sidebar-width: 400px;

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;

  .sidebar__checkbox {
    display: none;
  }

  .sidebar__checkbox:checked + .sidebar__wrapper {
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .sidebar__toggle {
      left: 0;
    }
  }

  .sidebar__wrapper {
    position: absolute;
    top: 0;
    right: -$sidebar-width;
    width: $sidebar-width;
    max-width: 100vw;
    height: 100%;
    transition: left 0.5s, right 0.5s, box-shadow 1s;
    background: #fff;
    color: #303030;

    .sidebar__toggle {
      cursor: pointer;
      user-select: none;
      position: absolute;
      left: -$sidebar-toggle-size;
      height: $sidebar-toggle-size;
      width: 100%;
      display: flex;
      transition: left 0.5s, right 0.5s;

      &:focus {
        outline: none;
      }

      &:hover {
        @include background-opacity($blue, 0.1);

        .sidebar__icon {
          @include background-opacity($blue, 0.9);
        }
      }

      .sidebar__icon {
        @include line;
        @include background-opacity($blue, 0.6);
        margin: auto 18px;
        position: relative;

        &:before,
        &:after {
          @include line;
          position: absolute;
          content: '';
        }

        &:before {
          top: -6px;
        }

        &:after {
          top: 6px;
        }
      }
    }

    .sidebar__content {
      margin-top: $sidebar-toggle-size;
    }
  }

  // modify position to display to the left if div.class="sidebar sidebar--left"
  &.sidebar--left {
    right: auto;
    left: 0;

    .sidebar__wrapper {
      right: auto;
      left: -$sidebar-width;

      .sidebar__toggle {
        right: -$sidebar-toggle-size;
        left: auto;
        flex-direction: row-reverse;
      }
    }

    .sidebar__checkbox:checked + .sidebar__wrapper {
      right: auto;
      left: 0;

      .sidebar__toggle {
        left: auto;
        right: 0;
      }
    }
  }
}
