@mixin line {
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: inherit;
  transition: .3s;
}

@mixin background-opacity($color, $opacity: 0.5) {
  background: $color;
  background: rgba($color, $opacity);
}

$burger-color: #0097A7;
$sidebar-toggle-size: 60px;
$sidebar-width: 240px;

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;

  .sidebar--checkbox {
    display: none;
  }
  .sidebar--toggle {
    cursor: pointer;
    user-select: none;

    position: absolute;
    left: -$sidebar-toggle-size;

    width: $sidebar-toggle-size;
    height: $sidebar-toggle-size;

    display: flex;
    transition: .3s;

    &:focus {
      outline: none;
    }

    &:hover .sidebar--icon {
        @include background-opacity($burger-color, 0.9);
    }

    .sidebar--icon {
      @include line;
      @include background-opacity($burger-color, 0.6);
      margin: auto 18px;
      position: relative;
      &:before, &:after {
        @include line;
        position: absolute;
        content: '';
      }
      &:before {
        top: -6px;
      }
      &:after {
        top: 6px;
      }
    }
  }
  .sidebar--content {
    margin-top: $sidebar-toggle-size;
  }

  .sidebar--wrapper {
    position: absolute;
    top: 0;
    right: -$sidebar-width;
    background: white;
    width: $sidebar-width;
    height: 100%;
    transition: left 0.35s, right 0.35s;
  }
  .sidebar--checkbox:checked + .sidebar--wrapper {
    right: 0px;
    .sidebar--toggle {
      left:0px;
    }
  }

  &.sidebar--left {
    right: auto;
    left: 0;
    .sidebar--wrapper {
      right: auto;
      left: -$sidebar-width;
      .sidebar--toggle {
        right: -$sidebar-toggle-size;
        left: auto;
      }
    }
    .sidebar--checkbox:checked + .sidebar--wrapper {
      right: auto;
      left: 0px;
      .sidebar--toggle{
        left:auto;
        right:0px;
      }
    }
  }
}
