{{ define "main" }}

<main class="content">
  <h1>Welcome</h1>
  <p>Hi, I’m a software developer. I work as part of the ADAPT Centre in Trinity College Dublin. I work on a team that focus on collabrative industry project, applying academic research to comerical problems.</p>
  <p>I get to apply our research in social media analysis, customer engagement, recommender systems and personalisation and video procesing on short targeted projects. I’ve had the opportunity to learn about data visualisation, NLP, computer vision, machine learning, deep learning.</p>
</main>
{{ end }}
