@use "../abstracts/variables" as v;

.header .nav {
  height: v.$nav-size;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5rem;

  .nav__item {
    margin: auto .625rem;
  }
  .nav__link {
    padding: 2px;
    padding-bottom: 0px;
    margin: .625rem;
    display: inline-block;
  }

  .theme-toggle {
    margin-inline-start: auto;
  }
  .nav__link {
    border-bottom: 2px solid transparent;
    transition: margin 0.5s, border-bottom 0.5s;

    &:hover {
      margin: .5625rem .625rem .6875rem;
      border-bottom: 2px solid v.$blue-lighter;
    }

    &[aria-current="page"] {
      color: inherit;
    }
  }

  @media (max-width: 40rem) {
    height: auto;
    min-height: v.$nav-size;
    flex-wrap: wrap;

    .nav__item,
    .nav__link,
    .nav__link:hover {
      margin: .25rem;
    }
  }
}
