@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

@mixin line {
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: inherit;
  left: 0;
  transition: left 0.5s, right 0.5s, top 0.1s, width 0.5s, transform 0.5s, background 0.5s;
}

@mixin arrow--right {
  &:before, &:after {
    left: 14px;
    width: 14px;
  }

  &:before {
    top: -4px;
    transform: rotate(45deg);
  }

  &:after {
    top: 4px;
    transform: rotate(-45deg);
  }
}

@mixin arrow--left {
  &:before, &:after {
    left: -4px;
    width: 14px;
  }

  &:before {
    top: -4px;
    transform: rotate(-45deg);
  }

  &:after {
    top: 4px;
    transform: rotate(45deg);
  }
}

.sidebar {
  position: fixed;
  inset-block: 0;
  right: 0;

  .sidebar__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  .sidebar__panel {
    position: absolute;
    top: 0;
    right: 0;
    width: min(v.$sidebar-width, 100vw);
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s, box-shadow 1s;
    background: v.$light-lighter;
    color: v.$dark-darker;
  }

  .sidebar__focus {
    height: 100%;
    width: 100%;
    position: fixed;
    @include m.background-opacity(v.$dark-darker, 0.9);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }

  .sidebar__toggle {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 5rem;
    left: -(v.$nav-size);
    height: v.$nav-size;
    width: 100%;
    display: flex;
    transition: left 0.5s, right 0.5s;

    &:focus {
      outline: none;
    }

    &:hover {
      @include m.background-opacity(v.$primary, 0.1);

      .sidebar__icon {
        @include arrow--left;
        background: v.$primary;
      }
    }
  }

  .sidebar__icon {
    @include line;
    @include m.background-opacity(v.$primary, 0.8);
    margin: auto 18px;
    position: relative;

    &:before,
    &:after {
      @include line;
      position: absolute;
      content: '';
    }

    &:before {
      top: -6px;
    }

    &:after {
      top: 6px;
    }
  }

  .sidebar__content {
    margin-top: v.$nav-size + 5rem;
    max-height: calc(100dvh - #{v.$nav-size + 5rem});
    overflow-y: auto;
  }

  .sidebar__nav {
    margin: 2.5rem;

    a {
      display: block;
    }

    a + a {
      margin-block-start: .75rem;
    }
  }

  .sidebar__checkbox:focus-visible + .sidebar__wrapper .sidebar__toggle {
    outline: 2px solid v.$primary;
    outline-offset: 2px;
  }

  .sidebar__checkbox:checked + .sidebar__wrapper {
    .sidebar__focus {
      opacity: 1;
      pointer-events: unset;
    }

    .sidebar__panel {
      transform: translateX(0);
      box-shadow: 0 0 10px rgba(v.$dark, 0.5);

      .sidebar__toggle {
        left: 0;

        &:hover {
          .sidebar__icon {
            @include arrow--right;
          }
        }
      }
    }
  }
}

// modify position to display to the left if div.class="sidebar sidebar--left"
.sidebar.sidebar--left {
  right: auto;
  left: 0;

  .sidebar__panel {
    right: auto;
    left: 0;
    transform: translateX(-100%);
  }

  .sidebar__toggle {
    right: -(v.$nav-size);
    left: auto;
    flex-direction: row-reverse;

    &:hover {
      .sidebar__icon {
        @include arrow--right;
      }
    }
  }

  .sidebar__checkbox:checked + .sidebar__wrapper {
    .sidebar__panel {
      transform: translateX(0);

      .sidebar__toggle {
        left: auto;
        right: 0;

        &:hover {
          .sidebar__icon {
            @include arrow--left;
          }
        }
      }
    }
  }
}

@keyframes display {
  0% {
    opacity: ddd
  }
}
