@use "../abstracts/variables" as v;
@use "../abstracts/theme" as t;

.theme-toggle {
  display: grid;
  place-items: center;
  flex: none;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: .75rem;
  color: v.$blue-darker;

  &:hover {
    background: rgba(v.$blue, .1);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.theme-toggle__option {
  display: none;
  grid-area: 1 / 1;
  place-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#theme-system:checked ~ .body .theme-toggle__option--system,
#theme-dark:checked ~ .body .theme-toggle__option--dark,
#theme-light:checked ~ .body .theme-toggle__option--light {
  display: grid;
}

.theme-toggle__text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

@include t.dark {
  .theme-toggle {
    color: v.$blue-lighter;
  }
}

#theme-system:focus-visible ~ .body .theme-toggle__option--system,
#theme-dark:focus-visible ~ .body .theme-toggle__option--dark,
#theme-light:focus-visible ~ .body .theme-toggle__option--light {
  outline: 2px solid v.$blue;
  outline-offset: 2px;
  border-radius: .75rem;
}
